.button-container
  .button.web
    %h2
      %a{:href => "/web"} Web
  .button.graphic
    %h2
      %a{:href => "/graphic"} Graphic
.left-bracket.show-for-medium-up
  = image_tag("left.png")
.right-bracket.show-for-medium-up
  = image_tag("right.png")